{% extends 'base.html' %}


{% block content %}
    <div class="card mb-4">
        <h2 class="card-title">{{ post.title }}</h2>
        <div class="card-publisher">
            Опубликовано {{ post.date.strftime('%d.%m.%Y') }}.
            Автор: {{ post.author }}
        </div>
        <img class="card-img-top" src="{{ url_for('static', filename='images/' + post.image_id) }}" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">
                {{ post.text }}
            </p>
        </div>
    </div>

    <div class="form">
        <div class="form-control border-top rounded-top form-title">
            <h4>Оставьте комментарий</h4>
        </div>
        <div class="border p-3">
            <textarea class="form-control" id="form" rows="5"></textarea>
            <input class="btn btn-primary mt-3" type="submit" value="Отправить">
        </div>   
    </div>

    <div class="m-4">
        {% for comment in post.comments %}
            <div class="d-flex flex-column">
                <div class="d-flex mt-4">
                    <div class="flex-shrink-0">
                        <img src="{{ url_for('static', filename='images/avatar.jpg') }}" class="rounded-circle" width="80" height="80">
                    </div>
                    <div class="flex-grow-1 text-start">
                        <h5>{{ comment.author }}</h5>
                        <p class="mb-0">{{ comment.text }}</p>
                    </div>
                </div>
                
                {% for reply in comment.replies %}
                    <div class="d-flex mt-4 ms-5">
                        <div class="flex-shrink-0">
                            <img src="{{ url_for('static', filename='images/avatar.jpg') }}" class="rounded-circle" width="80" height="80">
                        </div>
                        <div class="flex-grow-1 text-start">
                            <h5>{{ reply.author }}</h5>
                            <p>{{ reply.text }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}