{% extends 'base.html' %}


{% block content %}
    <div class="card mb-4">
        <h2 class="card-title">{{ post.title }}</h2>
        <div class="card-publisher">
            Опубликовано {{ post.date.strftime('%d.%m.%Y') }}.
            Автор: {{ post.author }}
        </div>
        <img class="card-img-top" src="{{ url_for('static', filename='images/' + post.image_id) }}" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">
                {{ post.text }}
            </p>
        </div>
    </div>

    <div class="form">
        <div class="form-control border-top rounded-top form-title">
            <h4>Оставьте комментарий</h4>
        </div>
        <div class="border p-3">
            <textarea class="form-control" id="form" rows="3"></textarea>
            <input class="btn btn-primary mt-3" type="submit" value="Отправить">
        </div>   
    </div>

    <div class="d-flex py-3">
        <div class="flex-shrink-0">
            <img src="{{ url_for('static', filename='images/avatar.jpg') }}" class="rounded-circle img-com" alt="Sample Image">
        </div>
        <div class="flex-grow-1 ms-3">
            <h5>Jhon Carter <small class="text-muted"><i>Posted on January 10, 2021</i></small></h5>
            <p>Excellent feature! I love it. One day I'm definitely going to put this Bootstrap component into use and I'll let you know once I do.</p>
            
            <!-- Nested media object -->
            <div class="d-flex mt-4">
                <div class="flex-shrink-0">
                    <img src="{{ url_for('static', filename='images/avatar.jpg') }}" class="rounded-circle img-com" alt="Sample Image">
                </div>
                <div class="flex-grow-1 ms-3">
                    <h5>Clark Kent <small class="text-muted"><i>Posted on January 12, 2021</i></small></h5>
                    <p>Thanks, you found this component useful. Don't forget to check out other Bootstrap components as well. They're also very useful.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}